<div class="container" fxLayoutAlign="center center" fxFlexFill max-width="1200px">
  <mat-card>
    <mat-card-content>
      <div class="textArea" fxLayout="column" fxLayoutGap="10px">
        <div class="image-container" fxLayout="row">
          <img src="../../../../assets/user-svgrepo-com.svg" />
          <img src="../../../../assets/check-svgrepo-com.svg" />
        </div>
        <h2>E-mail Address confirmed,<br />you're all set!</h2>
        <p>You can now close this tab...</p>
        <p>Made by Benedek Hevesi<br />© 2024 | All rights reserved</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
