<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <div class="image-container">
      <img src="../../../assets/ExpenseTrackerLogo.svg" />
    </div>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="setPage('Home')">Home</a>
      <a mat-list-item (click)="setPage('Settings')">Settings</a>
      <a mat-list-item href="/login" (click)="handleLogout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ selectedPage === 'Home' ? 'Home' : 'Settings' }}</span>
    </mat-toolbar>
    <app-settings *ngIf="selectedPage === 'Settings'"></app-settings>
    <app-home *ngIf="selectedPage === 'Home'"></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
